<link rel="preload" href="https://cdn.opinew.com/styles/opw-icons/style.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <noscript><link rel="stylesheet" href="https://cdn.opinew.com/styles/opw-icons/style.css"></noscript>
<style id='opinew_product_plugin_css'>{{shop.metafields.opinew['opinew_product_plugin_css']}}</style>
<meta id='opinew_config_container'  data-opwconfig='{{shop.metafields.opinew['opinew_config']}}' >
<script> 
  var OPW_PUBLIC_KEY = "UDAJX11X80N32C68UAQH";
  var OPW_API_ENDPOINT = "https://api.opinew.com";
  var OPW_CHECKER_ENDPOINT = "https://shop-status.opinew.cloud";
  var OPW_BACKEND_VERSION = "24.50.0-0-gc5677f1a4";
</script>
<script src="https://cdn.opinew.com/shop-widgets/static/js/index.57ca8f07.js" defer></script>
{% if shop.metafields.opinew['opinew_floating_widget'] == 'enabled' %}
<div data-opw-prodreviews="{{ shop.metafields.opinew['opinew_all_reviews'] }}">
  <span id="opinew_product_floating_widget"></span>
</div>
{% endif %}
